.z-2 {
    z-index: 2;
}
.z-3 {
    z-index: 3;
}
.max-h-300 {
    max-height: 300px;
}
.wp-caption {}
.wp-caption-text{}
.gallery-caption {}
.bypostauthor {}
.alignright {}
.alignleft {}
.aligncenter {}